
<div id="demo" data-background="images/banner/banner-1.jpg" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/courses/course1.jpg" alt="courses" width="1100" height="500">
            <div class="carousel-caption text-info" style="margin-bottom: 175px;">
                <h2>Tavss</h2>
                <h3>We have such a great courses in our Tavss Site!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/courses/course-single.jpg" alt="communities" width="1100" height="500">
            <div class="carousel-caption text-info" style="margin-bottom: 175px;">
                <h2>Tavss</h2>
                <h3>We have such a great communities in our Tavss Site!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/courses/couseslogo.jpg" alt="projects" width="1100" height="500">
            <div class="carousel-caption text-info" style="margin-bottom: 175px;">
                <h2>Tavss</h2>
                <h3>We have a lot of projects in our Tavss Site!</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/blog/blog-single.jpg" alt="acclaims" width="1100" height="500">
            <div class="carousel-caption text-info" style="margin-bottom: 175px;">
                <h2>Tavss</h2>
                <h3>We have a lot of acclaims in our Tavss Site!</h3>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

