*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  /*background: #ededed;*/
  background-color: cornsilk;
   /*position: relative;*/
}
/*.cover{
  background-color: #000;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
  letter-spacing: 5px;
    font-weight: bold;
    color: #4d8282;
    font-size: 50px;
}

.cont {
  border: 3px solid #4d8282;
  border-radius: 19px;
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  /*background: #fff;*/
  background-image: url("img/view2.jpg");
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}






.container{
height: 100%;
    width: 100%;

}

.card{

  position: relative;
  width: 640px;
  height: 100%;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 30px 0;
/*height: 370px;*/
margin-top: auto;
margin-bottom: auto;
/*width: 400px;*/
background-color: rgba(0,0,0,0.5) !important;
}

.card h2{
  margin-top: 60px;
  color: #fff;
}

.input-group{
  width: 70%;
    
}


.input-group input{
    background-color: #ecececbd;
    border-radius: 15px;
}

.form-group{
  margin-right: auto;
  margin-left: auto;
    
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;

}

.input-group input::placeholder {
  color: #4b5d5d;
    
}

.input-group input:focus::placeholder {
  color: #4d8282;
    
}


/*.input-group .form-control:not(:first-child){
  border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}*/

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.form-control:focus {
    color: #4d8282;
    background-color: #ffffffdb;
    border-color: #e8af01;
}

.remember{
color: white;
margin-left: 82px;
}

.remember input
{
width: 20px;
height: 20px;
/*margin-left: 15px;
margin-right: 5px;*/
/*margin-left: auto;
    margin-right: auto;*/
}

/* .remember input[type=checkbox]:checked{
  color: red;
 }*/

.remember span{
  margin-left: 3px;
}

.login_btn{
color: #336b6b;
    background-color: #cccece;
    width: 112px;
    height: 47px;

}

.login_btn:hover{
color: #fff;
    background-color: #e8af01;
transition: 0.5s;
}









.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background-image: url("img/view1.jpg");
  background-position: top center;  
  /*background: #fff;*/
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
          transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  /*background-image: url("th.jpg");*/
  background-color: #4d8282;
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0, 0, 0, 0.6);*/
}
.cont.s--signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #e8af01;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
      max-width: 210px;
    color: #fff;
}
.cont.s--signup .img__text.m--up {
  -webkit-transform: translateX(520px);
          transform: translateX(520px);
}
.img__text.m--in {
  -webkit-transform: translateX(-520px);
          transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}


/*.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
*/


/*.img__btn span{
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
}*/



/*.img__btn span:hover{
  color: #fff;
  transition: 0.5s;
}*/


.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
    color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span.m--in {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

.img__btn span:hover{
    border: 2px solid #e8af01;
    background-color: #e8af01;
    transition: 0.5s;

}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

/*label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}*/

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

/*.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}*/

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(640px, 0, 0);
          transform: translate3d(640px, 0, 0);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
          transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.sign-up h2{
      margin-top: 30px;
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}