<link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
@*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">*@


<base href="~/" />
<!-- footer -->

<footer>
    <!-- footer content -->
    <div class="section border-bottom" style="border-color: #ffffff69 !important; padding-top: 37px; background-color: #1e6c9c;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                    <!-- logo -->
                    <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="images/TAVSSv1.png" alt="logo" style="width:80px; height: 50px;"></a>
                    <ul class="list-unstyled">
                        <li class="mb-2" style="color: #bcbbca;">+1 (2) 345 6789</li>
                        <li class="mb-2" style="color: #bcbbca;">TAVSS@domain.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4" style="background-color: #1e6c9c;">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text-sm-left text-center">
                    <p class="mb-0" style="color: #bcbbca;">
                        Copyright
                        <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>
                        ©️ TAVSS
                    </p>
                </div>	

                <div class="col-sm-5 text-sm-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="fa fa-twitter"style="color: #fff !important;"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="fa fa-facebook-square" style="color: #fff !important;"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="fa fa-github"style="color: #fff !important;"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="fa fa-linkedin-square"style="color: #fff !important;"></i></a></li>
                        <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="fa fa-instagram"style="color: #fff !important;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->
<script src="~/font-awesome/js/fontawesome.js"></script>
@*<script src="https://kit.fontawesome.com/273d0585ea.js" crossorigin="anonymous"></script>*@


@section script{
    <script src="~/font-awesome/js/fontawesome.js"></script>
    @*<script src="https://kit.fontawesome.com/273d0585ea.js" crossorigin="anonymous"></script>*@

}
