@page "/adddeveloper/{ProjectId}"
@inherits AddDeveloperBase
@attribute [Authorize]
<!-- /page title -->
<PageTitle Title="Add Developer"></PageTitle>
<!-- /page title -->

<section class="section-sm" style="padding-top: 77px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <h2 class="mb-0 text-nowrap mr-3" style="margin-left: 1rem;">Add Developer</h2>
                    <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                    <!-- <div>
                      <a href="courses.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">See All</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


<EditForm Model="@Developer" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="font-size: 20px; font-weight: bold; color: #2692d4e3;">Developer Name</label>
                    <InputText id="firstName" class="form-control" placeholder="Developer Name" @bind-Value="Developer.Name" />
                    <ValidationMessage For="@(() => Developer.Name)" />
                </div>
            </div>

            <div class="col-12" style="text-align: center; margin-bottom: 103px;">
                <div>
                    <button class="btn btn-primary" type="submit">Create</button>
                    <a class="btn btn-primary" href="@($"/projectdetails/{ProjectId}")">Back to the project</a>
                </div>
            </div>

        </div>
    </div>
</EditForm>


