@page "/acclaims"

    <PageTitle Title="All Acclaims"></PageTitle>

    <!-- Acclaims -->
    <div class="row" style="overflow: hidden;">
        <div class="col-md-3" style="float: right;">
            <img src="/images/acclaims/banner-feature.png" alt="" style="width: 90%;">
        </div>
        <div class="col-md-9" style="float: right; ">
            <div class="container">
                <div class="row" style=" margin-top: 20px;">
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Angular</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/ng.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">HTML&CSS</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/html.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">JavaScript</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/js.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                </div>
                <div class="row" style=" margin-top: 20px;">
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Python</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/p1.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Cloud</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/cloud.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">GIT</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/git.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                </div>
                <div class="row" style=" margin-top: 20px;">
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Web Services</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/web services.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Deploy Microservices-based Web Application</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/deploy.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">API</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/api.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                </div>
                <div class="row" style=" margin-top: 20px;">
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Artificial Intelligence Intro </div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/AI.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Blockchain</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/bloc.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Coding</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/coding.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                </div>
                <div class="row" style=" margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Data Sceince&Analytics</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/DM.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Web Development</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/web.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                    <div class="col-md-4" style="overflow: hidden;">
                        <div class="col-md-4" style="float: right; font-weight: bolder; margin: 15px 80px 0 0;">Microsoft Azure</div>
                        <div class="col-md-4" style="float: right;"><img src="/images/acclaims/zure.jpg" style="width: 100%; margin-left: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Acclaims -->
